<div class="page-header">
  <div class="pull-right  ">
  <%= link_to 'Edit', edit_task_path, :class => "btn btn-info"  %>
</div>
  <h1><%= @task.description %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/tasks">Tasks</a></li>
  <li class="active"><%= @task.description %></li>
</ol>

<div>
  <strong> Due on:
  </strong>
  <%= @task.due_date.to_s.gsub('-','/') %>
</div>
