<p id="notice" class="alert alert-success" ><%= notice %></p>

<div class="page-header">
  <div class="pull-right  ">
  <a class="btn btn-info" href="/tasks/23/edit">Edit</a>
</div>
  <h1><%= @task.description %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/tasks">Tasks</a></li>
  <li class="active"><%= @task.description %></li>
</ol>
