<br/>
<div class="container">
  <div class="jumbotron">
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <p class="lead">
        <%= image_tag "Pen_paper_task.jpg", class: "img-responsive" %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">Tasks</div>
        <div class="panel-body home-panel">
          <p>Grouped by projects and lists, just the way you like'em</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="lead">
        <%= image_tag "Working_task.jpg", class: "img-responsive" %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">Tasks</div>
        <div class="panel-body home-panel">
          <p>Grouped by projects and lists, just the way you like'em</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="lead">
        <%= image_tag "Tablet_task.jpg", class: "img-responsive" %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">Tasks</div>
        <div class="panel-body home-panel">
          <p>Grouped by projects and lists, just the way you like'em</p>
        </div>
      </div>
    </div>
  </div>

  <p>&ldquo;gCamp has changed my life!  It&#39;s the best tool I&#39;ve ever used.&rdquo;</p>
  <p class="text-muted"><em>&mdash; Cayla Hayes</em></p>
  <p>&ldquo;Before gCamp I was a disorderly slob.  Now I&#39;m more organized than I&#39;ve ever been&rdquo;</p>
  <p class="text-muted"><em>&mdash; Leta Jaskolski</em></p>
  <p>&ldquo;Don&#39;t hesitate - sign up right now! You&#39;ll never be the same.&rdquo;</p>
  <p class="text-muted"><em>&mdash; Lavern Upton</em></p>
  <hr>
