<html>

    <div class="container">
      <div class="jumbotron">
      <h1>gCamp</h1>
      <p>Your life, organized.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p class="lead">
<%= image_tag "Pen_paper_task.jpg" %>
</p>
</div>
</div>

<%= image_tag "Working_task.jpg"  %>
<%= image_tag "Tablet_task.jpg"  %>

</html>
