.page-header
  %h1 About
.row
  .col-md-4
    = image_tag "studying.jpg", class: "img-responsive"
  .col-md-8
    %p We are dedicated to the makers, the creators, the risk-takers.

    %p We wake up in the middle of the night and furiously write down ideas about how to make your online life better.

    %p Human collaboration and communication is what drives us, and it infuses every feature of gCamp.
